#calculator {
  height: 370px;
  width: 250px;
  background-color: #1d1c17;
  border: 1px solid rgb(4, 4, 4);
  border-radius: 2%;
  margin-top: 20%;
  margin-left: 45%;
}
.display-container {
  height: 25%;
  width: 100%;
  /* border: 2px solid rgb(4, 4, 4); */
  /* margin-bottom: 5px; */
  color: aliceblue;
  margin-top:-17px;
  /* position:sticky; */
  text-align:center;
  /* font-size: large; */
  border-radius:5%;
  border-bottom: 0px solid black;
  background-color: #4c4426;
  margin-bottom: 5px;
}

.button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  margin-left: 7px;
  margin-bottom: 10px;
  background-color: #26231a;
  color:#dbdaba;
  /* margin-top: 20px; */
}
.AC{
  background-color: rgb(124, 8, 8);
}
.Equal{
  background-color: #165037;
}
.Symbol{
  padding-top: 20px;
}
