body{
    background-color: aqua;
    margin:50px;
}
div{
    overflow: hidden;
    margin: 100px;
    position: relative;
}
.counter{
    background-color: black;
    height:100px;
    width:100px;

}
p{
    text-align: center;
    line-height:80px;
    height:100%;
    margin:0px;
    width:100%;
    background-color: white;
    border-top:2px solid black;
}
p.next{
    position:absolute;
    top:100px;
}

p.animate{
    transition: all 0.5s;
    top:0px;
}