<link rel="stylesheet" href="/css/chat_box.css">

<% if(locals.user){ %>
    <div id="user-chat-box">
        <ul id="chat-messages-list">
            <li class="other-message">
                <span>
                    Other Message
                </span>
            </li>
            <li class="self-message">
                <span>
                    Self Message
                </span>

            </li>
        </ul>

        <div id="chat-message-input-container">
            <form>
                 <input id="chat-message-input" type="text" placeholder="Type message here">
                <button id="send-button" type="submit">Send</button>
            </form>
        </div>

    </div>

    <% } %>