
<div id="forgot_password">
  
    <form action="/users/reset-password" method="POST">
      <input type="email" id="email" placeholder="Enter Your Email" required>
      <button id="reset" type="submit">Reset</button>
    </form>  


</div>