<div id="forgot-password">
    <form action="/users/reset_Forgot_Password" method="POST">
        <input type="email" name="email" id="email" placeholder="Enter Your Email">
        <br>  
        <button type="submit" name="submit" id="submit">Submit</button>
    </form>
</div>
