<h2>Cannot Remember Your Password No Worries We are here to help</h2>

<form action="/users/ForgotPassword" method="POST">
    <input type="email" id="email" name="email" placeholder="Enter your Registered Email" required>
    <button type="submit">Submit</button>
</form>