
<div id="reset-form">
  
    <form action="/users/UpdateForgotPassword/<%=token%>" method="POST">
      <input id="password" type="password" name="password" placeholder="New password">
      <br>
      <input id="confirm-password" type="password" name="confirm_password" placeholder="Confirm Password">
      <br>
      <button id="reset" type="submit">Reset</button>
    </form>  


</div>