<h1>Sign In !</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="username" id="username" placeholder="Enter User Name" required>
    <input type="password" name="password" id="password" placeholder="Enter User password" required>

    <button type="submit">Submit</button>
</form>