<h1>Sign In !</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" id="email" placeholder="Enter Email" required>
    <input type="password" name="password" id="password" placeholder="Enter User password" required>

    <button type="submit">Submit</button>
</form>

<p>
    <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>


<form action="/users/Forgot_Password" method="POST">
    <button>Forgot Password ?</button>
</form>
