<link rel="stylesheet" href="/css/user.css" />
<h1>Codeiel / Profile Page</h1>

<form action="/users/sign-out" method="POST">
  <button>Sign Out</button>
</form>

<p><%=user.name%></p>
<p><%=user.email%></p>
