.one{
    height:200px;
    width:200px;
    position: absolute;
    top:40%;
    left:40%;
    background-color: aquamarine;
}
.two{
    height:200px;
    width:200px;
    position: absolute;
    top:60%;
    left:60%;
    background-color: rgb(211, 18, 18);
}