<div>
    <p>Hi <%=post.user.name%>!</p>
    <br>
    <br>
    <p>Click the following link to reset your password: <a href="users/reset-password/:id" method="POST">reset</a></p>
    <br>
    <br>
    <br>
    <p>Thanks</p>
</div>