#div1{
    background-color: red;
    height: 200px;
    width: 200px;
}
#div2{
    background-color: aqua;
    height: 200px;
    width: 200px;
}
span{
        display: block;
        margin: 50px 0;
        padding: 0;
        color: red;
    }

div{
    display: inline-block;
    height:100px;
    width: 5000px;
}