#comment{
    font-size: 30px;
    color: black;
    font-weight: bold;    
    text-align: justify;
    line-height: 40px;
    text-transform: capitalize;
    text-decoration: none;
    font-style: italic;
    word-spacing: ;
}
.sources:hover
{

}