#forgot_password{
    display: flex;
    justify-content: center;
    align-items: center ;
    height:500px;

}
#email{
    height: 20px;
    width: 300px;
    padding: 10px;
    margin:10px;
}

#reset{
    height: 30px;
    width: 60px;
    /* padding: 10px; */

}