#forgot-password{
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
}
#email{

    height:50px;
    width: 340px;   
    margin: 10px;

}
#submit{
    
    height:30px;
    width: 90px;
    margin-left:150px;
}
