<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
   <script src="https://kit.fontawesome.com/17a2345116.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1 id="page-heading">
        <i class="fa-regular fa-address-book"></i>
        My Contacts List</h1>

    <div id="contact-block">
        <ul>
            <% for(let i of contact_List){ %> 
                <li id="contacts">
                    <div class="details">
                    <p id="name"><%= i.name %></p>
                    <p id="phone"><%= i.phoneno %></p>
                    </div>
                <div class="delete" action="/delete-contact" method="POST">
                   <a href="/delete-contact/?id=<%=i._id%>" >
                    <i class="fa-solid fa-xmark fa-sm"></i>
                   </a>
                    
                </div>
            </li>
           <% } %>
        </ul>
        
    </div>

    <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="Enter Name"  required>
        <input type="number" name="phone" placeholder="Enter phone" required>

        <button type="submit">Add Contact</button>
    </form>


    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>