<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
</head>
<body>
    <h1>Contact List</h1>

    <div>
        <ul>
            <% for(let i of contact_List){ %> 
                <li>
                    <p><%= i.name %></p>
                    <p><%= i.phoneno %></p>
                </li>
            
            
            
           <% } %>
        </ul>
    </div>

    <form action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="Enter Name"  required>
        <input type="number" name="phone" placeholder="Enter phone" required>

        <button type="submit">Add Contact</button>
    </form>
</body>
</html>