p
{
    font-size:20px;
}
h1
{
    font-size:40px;
} 
h4
{
    text-transform: uppercase;
}
.uppercase
{
    text-transform: uppercase;
}
.cursive
{
    font-family: cursive;
}
#blog-desc 
{
    color:#097907;
}