<div>
    <p>Hi!</p>
    <br>
    <br>
    <p>Click the following link to reset your password <a href="http://127.0.0.1:8000/users/reset-link?token=<%=token%>">reset</a></p>
    <br>
    <br>
    <br>
    <p>Thanks</p>
</div>

